{% extends 'core/base.html' %}
{% block titulo %}Grimório - TormentaRPG: Sobre{% endblock %}
{% block subtitulo %}Descrição:{% endblock %}
{% block content %}
        <hr/>
        <h3>GrimórioTRPG</h3>
        <p>Esta é uma aplicação Web, feito em Pyhton/Django que visa ajudar jogadores.<br/>Ela simula um grimório de personagem arcanos.</p>
        <hr/>
        <h3>Tormenta RPG</h3>
        <p>"A Deusa da Humanidade foi transformada em uma estátua. A Aliança Negra dos Goblinóides avança implacável sobre o Reinado. Os Lordes da Tormenta lançam tempestades de sangue e demônios. Este é um mundo de dragões-reis gigantescos, sumo-sacerdotes invencíveis e conflitos entre deuses. Um mundo que precisa desesperadamente de heróis.<br/>Você aceita ser um deles?<br/>Tormenta é o cenário de RPG mais jogado do Brasil, e é o lar da HQ Holy Avenger, do romance O Inimigo do Mundo e de muitas, muitas outras histórias! Com os títulos da linha Tormenta chegou a sua vez de se aventurar no mundo de Arton!<br/>O livro básico da linha é o Tormenta RPG, atualmente em sua edição revisada. Ele traz tudo que você precisa para criar seus personagens e histórias nesse mundo fantástico."</p>
        <hr/>
        <a href="http://jamboeditora.com.br/" target="_blank"><h3>Jambô Editora</h3></a>
        <p>A Jambô é composta por duas marcas. A primeira é a Loja Jambô, que vende diversos produtos, mas é especializada em livros, revistas e jogos. A segunda é a Jambô Editora, especializada em publicar livros de entretenimento.</p>
	    <hr/>
        <h3>Lário Diniz</h3>
        <p>Programador e Jogador de RPG, combina essas duas paixões para criar aplicações gratuitas que ajude mestres e jogadores.</p>

{% endblock content %}